body {
    font-family: arial;
    text-align: center;
    background-color: #f5f5f5;

}
h1 {
    color: green;

}
p {
    color: violet;
    font-weight: bold;
    text-decoration: underline;

}
button {
    background-color: chartreuse;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    

}