body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
}

h1 {
  color: green;
  margin-top: 40px;
}

p {
  color: violet;
  font-weight: bold;
  text-decoration: underline;
}

button {
  background-color: chartreuse;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  font-size: 18px;
}